<html>
    <head>
        <h1 align ='center' style="background-color:blueviolet;">Inputs from the tested sample<br><br></h1>
    </head>
    <body>
        <form action='/blog' method='post' align ='center' style="background-color:ivory;"> 
            <input type ='number' name = 'preg' placeholder ='preg' required ='required'/><br>
            <input type ='number' name = 'plas' placeholder ='plas' required ='required'/><br>
            <input type ='number' name = 'pres' placeholder ='pres' required ='required'/><br>
            <input type ='number' name = 'skin' placeholder ='skin' required ='required'/><br>
            <input type ='number' name = 'test' placeholder ='test' required ='required'/><br>
            <input type ='number' name = 'mass' placeholder ='mass' required ='required'/><br>
            <input type ='number' name = 'pedi' placeholder ='pedi' required ='required'/><br>
            <input type ='number' name = 'age' placeholder ='age' required ='required'/><br><br>
            
            <button type='submit'>Predict</button>
        </form>
    </body>

</html>
